.wrapper {
    text-align: right;
}

.inactive {
    color: black;
    text-decoration: none;
    display: inline;
    margin: 0 10px;
    cursor: pointer;
}

@media only screen and (max-width: 475px) {
    .wrapper {
        text-align: center;
    }
}

@media only screen and (max-width: 335px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
    }
}
