.wrapper {
    background: rgba(255, 255, 255, 0.95);
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}

.image {
    padding: 10px;
}

@media only screen and (max-width: 475px) {
    .content {
        grid-template-columns: 1fr 2fr;
    }
}
