.select {
    height: 40px;
    font-size: 18px;
    font-family: 'Varela Round', sans-serif;
    color: #303030;
    text-align: right;
    padding: 0 10px;
    border: none;
    border-radius: 10px;
}

@media only screen and (max-width: 520px) {
    .select {
        width: 100%;
        text-align: center;
    }
}
